<h1>Login</h1>
<form method="post">
    <input type="text" name="name" id="name" placeholder="Enter Username">
    <input type="password" name="password" id="password" placeholder="Enter Password">
    <input type="submit" value="Login">
</form>